<div id="banner">
  <%#= image_tag %w(Group_bbgw.jpg Group_bgbg.jpg Group_bwbw.jpg).shuffle.first %>
  <a href="https://apps.facebook.com/contestshq/contests/145776" target="_blank">
    <%= image_tag %w(Sep_2011_T-off_green.png Sep_2011_T-off_grey.png).shuffle.first %>
  </a>
</div>

<div id="bottom-row">
  <span id="categories">
    <div class="category">
      <a href="/products/freeset-t-shirt?gender=Male">
      <img src="/images/mens(1)-nohover.jpg" />
      <div class="label">MENS</div>
      </a>
    </div>
    
    <div class="category">
      <a href="/products/freeset-t-shirt?gender=Female">
        <img src="/images/womens-nohover.jpg" />
        <div class="label">WOMENS</div>
      </a>
    </div>
    
    <div class="category">
      <a href="#">
      <img src="/images/bags-nohover.jpg" />
        <div class="label">BAGS</div>
      </a>
    </div>
  </span>
  
  <%= render :partial => 'shared/twitter_column' %>
</div>
