<div id="banner">
  <a href="community/our_story" >
    <%= image_tag australia? ? "liminal_fair_trade_banner_aus.jpg" : "liminal_fair_trade_banner_nz.jpg" %>
  </a>
  <%#= image_tag %w(Group_bbgw.jpg Group_bgbg.jpg Group_bwbw.jpg).shuffle.first %>
</div>

<div id="bottom-row">
  <span id="categories">
    <div class="category">
      <a href="/products/freeset-t-shirt?gender=Male">
      <img src="/images/mens(1)-nohover.jpg" alt=""/>
      <div class="label">MENS</div>
      </a>
    </div>
    
    <div class="category">
      <a href="/products/freeset-t-shirt?gender=Female">
        <img src="/images/womens-nohover.jpg" alt=""/>
        <div class="label">WOMENS</div>
      </a>
    </div>
    
    <div class="category">
      <a href="/t/categories/bags">
      <img src="/images/bags-nohover.jpg" alt=""/>
        <div class="label">BAGS</div>
      </a>
    </div>

    <%if @show_specials %>
        <div class="category">
          <a href="/t/categories/specials">
          <img src="/images/specials-nohover.jpg" alt=""/>
            <div class="label">SPECIALS</div>
          </a>
        </div>
    <% end %>

    <%# Temporary %>
    <div class="category">
      <a href="https://www.facebook.com/liminalapparel?sk=app_95936962634" target='_blank'>
      <img src="/images/splorewebbox.jpg" alt=""/>
      </a>
    </div>


  </span>
  
  <%= @show_specials ? "" : (render :partial => 'shared/twitter_column') %>
</div>
