<div id="banner-small">
  <img src="/images/banner-small.jpg" />
</div>

<div id="page-pics">
  <img src="/images/contact-pic1.jpg" />
  <img src="/images/contact-pic2.jpg" />
</div>

<div id="page-body">
  
  <h1>CONTACT</h1>
  <p>
  Liminal Apparel<br/>
  P.O. Box 9192<br/>
  Tower Junction<br/>
  Christchurch 8149<br/>
  New Zealand
  </p>
  <br />
  <p>
  Ph: +64 3 339 4581<br/>
  Fax: +64 3 339 4583
  </p>
  <br />
  <p>
  email: <a href="mailto:sales@liminal.org.nz">sales@liminal.org.nz</a><br/>
  web: <a href="http://www.liminal.org.nz">www.liminal.org.nz<a>
  </p>
</div>

<%= render :partial => 'shared/twitter_column'%>
