<div id="banner-small">
  <img src="/images/banner-small.jpg" />
</div>

<div id="page-pics">
  <img src="/images/shop-pic1.png" />
</div>

<div id="page-body">
  <% @active_item = 1 %>
  <%= render :partial => 'shared/page_menu_shop'%>
  
  <h1>PRICING & DELIVERY</h1>

  <h3>PRICING</h3>
  <p>
  Our pricing is tier based, and excludes printing.<br />
  Prices, including freight, are subject to change.<br />
  Liminal Apparel reserves the right to discontinue styles, colours and sizes at any stage.
  </p>

  <h3>SHIPPING AND FREIGHT</h3>
  <p>
  New Zealand shipments nationwide will be dispatched within 5 working days
  of the date ordered (blank T&#8209;shirts only). Freight prices are subject to change.
  Australian shipments nationwide will take up to 10 working days to arrive,
  but could take longer in some cases due to circumstances outside of our control.
  </p>

</div>

<%= render :partial => 'shared/twitter_column'%>
