<div id="banner-small">
  <img src="/images/banner-small.jpg" />
</div>

<div id="page-pics">
  <img src="/images/size-pic1.jpg" />
  <img src="/images/size-pic2.jpg" />
</div>

<div id="page-body">
  <% @active_item = 3 %>
  <%= render :partial => 'shared/page_menu_shop'%>
  
  <h1>RETURNS & REFUNDS</h1>

  <h3>SAMPLES</h3>
  <p>All samples will be invoiced out at full RRP, and can be credited back if returned within 10 days of
  invoice for NZ customers, and 15 days to allow for freighting for Australian customers.
  Anything returned outside this period will be deemed as purchased by the customer.
  Freighting of sample returns is at the customer’s expense.</p>

  <h3>EXCHANGES</h3>
  
  <p>All exchanges must be returned within 10 days of invoice for NZ customers,
  and 15 days to allow for freighting for Australian customers.</p>
  
  <h3>RETURNS</h3>
  
  <p>We will not accept any returned merchandise that has been altered in any way, including:
  Printing, washing, re-labelling. Please match up your order with the packaging slip to ensure everything is correct.
  If you find an error before the goods are printed we can fix it but once printed we cannot accept returns.</p>
  
</div>

<%= render :partial => 'shared/twitter_column'%>
