<div id="banner-small">
  <img src="/images/banner-small.jpg" />
</div>

<div id="page-pics">
  <img src="/images/size-pic1.jpg" />
  <img src="/images/size-pic2.jpg" />
</div>

<div id="page-body">
  <% @active_item = 4 %>
  <%= render :partial => 'shared/page_menu_shop'%>
  
<h1>TERMS & CONDITIONS</h1>

<h3>PRICES</h3>

<p>Prices are subject to change. Freeset reserves the right to discontinue
styles, colours and sizes at any stage.</p>

<h3>CREDIT TERMS</h3>

<p>Your first order will be paid up front before goods are shipped. Please
contact us for a credit application form, to be considered for a credit
account.</p>

<h3>SAMPLES</h3>

<p>All samples will be invoiced out at set wholesale rates, and can be credited
back once returned with in 10 days of invoice. Anything returned outside
this period will be sent back at the sender&#8217;s expense.</p>

<h3>EXCHANGES</h3>

<p>All exchanges must be made within 10 days of invoice date.</p>

<h3>SHIPPING / FREIGHT</h3>

<p>Shipments nationwide will be received within 5 working days of date
ordered. Freight prices are subject to change.</p>

</div>

<%= render :partial => 'shared/twitter_column'%>
