<div id="banner-small">
  <img src="/images/banner-small.jpg" />
</div>

<div id="page-pics">
  <img src="/images/size-pic1.jpg" />
  <img src="/images/size-pic2.jpg" />
</div>

<div id="page-body">
  <% @active_item = 4 %>
  <%= render :partial => 'shared/page_menu_shop'%>
  
  <h1>TERMS & CONDITIONS</h1>

  <h3>CREDIT TERMS</h3>
  <p>
  Your first order will be paid up front before goods are shipped. Please
  contact us for a credit application form, to be considered for a credit
  account.
  </p>

</div>

<%= render :partial => 'shared/twitter_column'%>
