<!--OBSOLETE-->

<% content_for :extra_head_stuff do %>
  <%= javascript_include_tag "t-shirts.js" %>
<% end %>
 
<div id="banner-small">
  <img src="/images/banner-small.jpg" />
</div>

<div id="main-T-shirt-area">
  <div id="product-info">
    <div class="reversed">WOMEN&#8217;S T-SHIRTS</div>
    <h2><br/>DETAILS</h2>
    <ul>
    <li>150 GSM 100% Cotton</li>
    <li>Shoulder to shoulder tape</li>
    <li>Fabric pre-shrunk to minimise shrinkage</li>
    <li>Double needle bottom hem and sleeves</li>
    <li>Extra long body, side seamed for a tailored fit.</li>
    </ul>
    <h2><br/>DESCRIPTION</h2>
    <p> Supermodels stay wafer thin by not eating, but everyone will
        look great in our Wafer T. It's light and long, with enough
        colours to please even the pickiest appetite.</p>
    <div class="footer"><div class="reversed">ORDER</div></div>
  </div>
  <div id="swatches">
      <img src="/images/swatch-BLUE.png" class="swatch" />
      <img src="/images/swatch-WHITE.png" class="swatch" />
      <img src="/images/swatch-BROWN.png" class="swatch" />
      <img src="/images/swatch-BLACK.png" class="swatch" />
      <img src="/images/swatch-GREEN.png" class="swatch" />
  </div>
  <div id="main-image">
    <img src="/images/womens-blue-1.jpg" />
    <div class="footer">
      <div class="reversed caption">
      <span>SKY BLUE</span>
      <img class="thumbnail" src="/images/womens-blue-1.jpg" />
      <img class="thumbnail" src="/images/womens-blue-2.jpg" />
      <img class="thumbnail" src="/images/womens-blue-3.jpg" />
      </div>
    </div>
  </div>
</div>

<div id="T-shirt-order-area">
  
</div>

