<table>
  <tr>
    <th <% if @active_item == 1 %> class="active"> <% else %> class="inactive"><a href="/shop/pricing"> <% end %> PRICING <br> & DELIVERY</a></th>
    <th <% if @active_item == 2 %> class="active"> <% else %> class="inactive"><a href="/shop/size"> <% end %> SIZE & GARMENT INFO</th>
    <th <% if @active_item == 3 %> class="active"> <% else %> class="inactive"><a href="/shop/returns"> <% end %> RETURNS <br> & REFUNDS</a></th>
    <th <% if @active_item == 4 %> class="active"> <% else %> class="inactive"><a href="/shop/terms"> <% end %> TERMS & CONDITIONS</a></th>
    <th <% if @active_item == 5 %> class="active"> <% else %> class="inactive"><a href="/shop/retail"> <% end %> RETAIL STOCKISTS</a></th>
  </tr>
</table>
