<table>
  <tr>
    <th <% if @active_item == 1 %> class="active"> <% else %> class="inactive"><a href="/community/our_story"> <% end %> OUR STORY</a></th>
    <th <% if @active_item == 2 %> class="active"> <% else %> class="inactive"><a href="/community/freeset"> <% end %> FREESET</th>
    <th <% if @active_item == 3 %> class="active"> <% else %> class="inactive"><a href="/community/fair_trade"> <% end %> FAIR TRADE</a></th>
    <th <% if @active_item == 4 %> class="active"> <% else %> class="inactive"><a href="/community/organic"> <% end %> ORGANIC</a></th>
    <th <% if @active_item == 5 %> class="active"> <% else %> class="inactive"><a href="/community/press"> <% end %> PRESS</a></th>
    <th <% if @active_item == 6 %> class="active"> <% else %> class="inactive"><a href="/community/retail"> <% end %> RETAIL STOCKISTS</a></th>
  </tr>
</table>
