<%# copied from hook :products_list_item in spree_core/app/views/shared/_products.html.erb %>

<% if Spree::Config[:allow_purchasing] %>
    <%= link_to small_image(product), product %>
    <%= link_to raw(product.name + " <span class='price selling'>#{product_price(product)}" + (australia? ? "" : " + GST") + "</span>"), product, :class => 'info' %>
<% else %>
    <%# if shop isn't open, make the links inactive %>
    <%= link_to small_image(product), "#" %>
    <%= link_to raw(product.name + " <span class='price selling'>#{product_price(product)}" + (australia? ? "" : " + GST") + "</span>"), "#", :class => 'info' %>
<% end %>
