<h1>RETAIL STOCKISTS</h1>

<% if australia? %>
  <h1>AUSTRALIA</h1>

<% else # NZ %>

  <h1>NEW ZEALAND</h1>
  <h2>BAGS</h2>

  <h3>CHRISTCHURCH</h3>

  <table class="table-2-column">
    <tr><td><a href="http://blackbirdgifts.co.nz/" target="_blank">Black Bird, Heathcote Valley</td></tr>
    <tr><td><a href="http://www.opawaorganics.co.nz/" target="_blank">Opawaho Organics, Beckenham Shops</td></tr>
    <tr><td><a href="http://www.pikowholefoods.co.nz/lyttel-piko" target="_blank">Lyttel Piko, 12 London Street, Lyttelton</a></td></tr>
    <tr><td><a href="http://www.whare.net.nz" target="_blank">Whare, Beckenham</td></tr>
    <tr><td><a href="http://www.addingtoncoffee.org.nz" target="_blank">Addington Coffee Co-op, 297 Lincoln Road, Addington</a></td></tr>
    <tr><td><a href="http://www.infoguidenewzealand.com/canterbury/gift-shopssuppliers/presence-gift-shop.html" target="_blank">Presence gift shop, 290 Main road, Redwood</td></tr>
  </table>

  <h3>NELSON AREA</h3>
  <table class="table-2-column">
    <tr><td><a href="http://www.citychurch.org.nz/globalhope.html" target="_blank">Global Hope Shop, Nelson</td></tr>
    <tr><td><a href="http://www.nelsonescapes.co.nz/" target="_blank">Nelson Escapes, Nelson</td></tr>
    <tr><td><a href="http://floralaffaire.co.nz/" target="_blank">Floral Affaire, Motueka</td></tr>
  </table>

  <h3>REST OF SOUTH ISLAND</h3>
  <table class="table-2-column">
    <tr><td><a href="http://www.menumania.co.nz/restaurants/step-in-thyme" target="_blank">Step in Thyme, Invercargill</td></tr>
    <tr><td><a href="http://yellow.co.nz/y/Gift+Shops+%26+Suppliers/Things+Design+Store/101861192_906.html" target="_blank">Things Design Store, Dunedin</td></tr>
    <tr><td><a href="http://yellow.co.nz/y/Gift+Baskets/Interlude+Gifts+%26+Gourmet+Foods/102214291_905.html" target="_blank">Interlude, Timaru</td></tr>
    <tr><td>French Polish, Invercargill</td></tr>
    <tr><td><a href="http://www.glaciercountry.co.nz/directory.asp?DiningCatID=6&DiningID=20" target="_blank">Fern Grove Souvenirs, Franz Joseph</td></tr>
  </table>

  <h3>NORTH ISLAND</h3>
  <table class="table-2-column">
    <tr><td><a href="http://www.marketplacers.co.nz" target="_blank">Marketplacers International</a></td></tr>
  </table>

  <h2>T-SHIRTS</h2>

  <table class="table-2-column">
    <tr><td><a href="http://www.pikowholefoods.co.nz/lyttel-piko" target="_blank">Lyttel Piko</a></td></tr>
    <tr><td><a href="http://www.addingtoncoffee.org.nz" target="_blank">Addington Coffee Co-op,</a> Christchurch</td></tr>
    <tr><td><a href="http://www.choosecrueltyfree.org.nz/" target="_blank">Safe</td></tr>
    <tr><td><a href="http://tonycribb.co.nz/index.php/index/node/41/Shop" target="_blank">Tony Cribb</td></tr>
  </table>
<% end %>
