<h1>RETAIL STOCKISTS</h1>

<% if australia? %>
    <h3>Victoria</h3>

    <table class="table-2-column">

        <tr><td><a href="http://www.empower.org.au/ourshop.html" target="_blank">Empower Shop, 188 Main Street, Bairnsdale</a></td></tr>
        <tr><td>Under The Juniper Tree, 2/2456 Warburton Hwy, Yarra Junction, Melbourne</a></td></tr>
        <tr><td><a href="http://www.folkart.net.au/" target="_blank">Folkart, 232 Yarra Street, Warrandyte, Melbourne</a></td></tr>
        <tr><td><a href="http://www.threadsofnature.com.au/" target="_blank">Threads of Nature, 30 McAdam Square, Croydon, Melbourne</a></td></tr>
        <tr><td><a href="http://morrisbrown.com.au/" target="_blank">Morris Brown, 192 Canterbury Road, Heathmont, Melbourne</a></td></tr>
    </table>

    <h3>NSW</h3>
    <table class="table-2-column">
        <tr><td>Fair Trade Downunder</td></tr>
        <tr><td><a href="www.nourishstore.com.au" target="_blank">Nourish Store</a></td></tr>
        <tr><td><a href="http://onevillageshop.com.au/" target="_blank">One Village Shop, 59a Tambourine Bay Road, Riverview, Sydney</a></td></tr>
    </table>

<% else # NZ %>

  <h2>BAGS</h2>

  <h3>CHRISTCHURCH</h3>

  <table class="table-2-column">
    <tr><td><a href="http://blackbirdgifts.co.nz/" target="_blank">Black Bird, Heathcote Valley</a></td></tr>
    <tr><td><a href="http://www.opawaorganics.co.nz/" target="_blank">Opawaho Organics, Beckenham Shops</a></td></tr>
    <tr><td><a href="http://www.pikowholefoods.co.nz/lyttel-piko" target="_blank">Lyttel Piko, 12 London Street, Lyttelton</a></td></tr>
    <tr><td><a href="http://www.whare.net.nz" target="_blank">Whare, Beckenham</a></td></tr>
    <tr><td><a href="http://www.addingtoncoffee.org.nz" target="_blank">Addington Coffee Co-op, 297 Lincoln Road, Addington</a></td></tr>
    <tr><td><a href="http://www.infoguidenewzealand.com/canterbury/gift-shopssuppliers/presence-gift-shop.html" target="_blank">Presence gift shop, 290 Main road, Redwood</a></td></tr>
  </table>

  <h3>NELSON AREA</h3>
  <table class="table-2-column">
    <tr><td><a href="http://www.citychurch.org.nz/globalhope.html" target="_blank">Global Hope Shop, Nelson</a></td></tr>
    <tr><td><a href="http://www.nelsonescapes.co.nz/" target="_blank">Nelson Escapes, Nelson</a></td></tr>
    <tr><td><a href="http://floralaffaire.co.nz/" target="_blank">Floral Affaire, Motueka</a></td></tr>
  </table>

  <h3>REST OF SOUTH ISLAND</h3>
  <table class="table-2-column">
    <tr><td><a href="http://www.menumania.co.nz/restaurants/step-in-thyme" target="_blank">Step in Thyme, Invercargill</a></td></tr>
    <tr><td><a href="http://yellow.co.nz/y/Gift+Shops+%26+Suppliers/Things+Design+Store/101861192_906.html" target="_blank">Things Design Store, Dunedin</a></td></tr>
    <tr><td><a href="http://yellow.co.nz/y/Gift+Baskets/Interlude+Gifts+%26+Gourmet+Foods/102214291_905.html" target="_blank">Interlude, Timaru</a></td></tr>
    <tr><td>French Polish, Invercargill</td></tr>
    <tr><td><a href="http://www.glaciercountry.co.nz/directory.asp?DiningCatID=6&DiningID=20" target="_blank">Fern Grove Souvenirs, Franz Joseph</a></td></tr>
  </table>

  <h3>NORTH ISLAND</h3>
  <table class="table-2-column">
    <tr><td><a href="http://www.marketplacers.co.nz" target="_blank">Marketplacers International</a></td></tr>
  </table>

  <h2>T-SHIRTS</h2>

  <table class="table-2-column">
    <tr><td><a href="http://www.pikowholefoods.co.nz/lyttel-piko" target="_blank">Lyttel Piko, Lyttelton</a></td></tr>
    <tr><td><a href="http://www.addingtoncoffee.org.nz" target="_blank">Addington Coffee Co-op, Christchurch</a></td></tr>
    <tr><td><a href="http://www.choosecrueltyfree.org.nz/" target="_blank">Safe</a></td></tr>
    <tr><td><a href="http://tonycribb.co.nz/index.php/index/node/41/Shop" target="_blank">Tony Cribb</a></td></tr>
  </table>
<% end %>
