<div id="banner-small">
  <img src="/images/banner-small.jpg" />
</div>

<div id="page-pics">
  <img src="/images/fair_trade-pic1.jpg" />
  <img src="/images/fair_trade-pic2.jpg" />
</div>

<div id="page-body">
  <% @active_item = 3 %>
  <%= render :partial => 'shared/page_menu_community'%>
  
  <h1>FAIR TRADE</h1>  
  <p>
  Fair trade is a growing movement supporting fair wages and conditions for producers in the developing world.
  </p>
  <p>
  Part of the ‘World fair trade organization’ Freeset is a fair-trade business committed to providing fair living wages
    and a healthy working environment
  for all employees. Wages are well above the national minimum and all staff receive training, health care,
  child care and savings plans. The cotton in our T&#8209;shirts is 100% fair trade organic certified,
  which means it is fair trade from the grower to the finished product.
  </p>
</div>

<%= render :partial => 'shared/twitter_column'%>
