<div id="banner-small">
  <img src="/images/banner-small.jpg" />
</div>

<div id="page-pics">
  <img src="/images/fair_trade-pic1.jpg" />
  <img src="/images/fair_trade-pic2.jpg" />
</div>

<div id="page-body">
  <% @active_item = 3 %>
  <%= render :partial => 'shared/page_menu_community'%>
  
  <h1>FAIR TRADE</h1>  
  <p>
  We believe business has lost its way in the world. For too long profit has
  been more important than people and sourcing cheap resources has
  been at the expense of the environment.
  </p>
  <p>
  Join us as we commit to fair trade and eco-friendly practices in a bid
  to bring business back to its rightful place. Fair Trade is a growing
  movement supporting fair wages and conditions for producers in the
  developing world.
  </p>
  <p>
  Factories and products certified &#8216;Fair Trade&#8217;, empower the consumer to
  choose products made under fair conditions. A business can only be
  certified Fair Trade if it demonstrates careful compliance to international
  standards for working conditions. It must also show a commitment to
  empowerment and poverty alleviation.
  </p>
  <p>
  Freeset is committed to providing fair, living wages and a healthy
  working environment for all employees. Wages are well above the
  national minimum and all staff receive training, health care, child care,
  and savings plans.
  </p>
  <p>
  Freeset is a member of the Fair Trade Federation, a U.S.-based network
  of fair trade businesses. We are in the process of applying for IFAT
  (The World Fair Trade Organization) certification, a rigorous process
  which gives you the customer confidence as you buy. The cotton in our
  T&#8209;shirts is 100% FLO (Fair Trade Labeling Organizations) certified,
  which means it is fair trade from the grower to the finished product.
  </p>
</div>

<%= render :partial => 'shared/twitter_column'%>
