<div id="banner-small">
  <img src="/images/banner-small.jpg" />
</div>

<div id="page-pics">
  <img src="/images/freeset-pic1.jpg" />
  <img src="/images/freeset-pic2.jpg" />
</div>

<div id="page-body">
  <% @active_item = 2 %>
  <%= render :partial => 'shared/page_menu_community'%>
  
  <h1>FREESET</h1>  
  <p>
  Human trafficking and poverty feed India’s sex trade.
  Women and children are forced into prostitution and face a life without choices, marginalised by society.
  Freeset is in business for freedom.
  Freeset manufactures bags and T&#8209;shirts, offering women fair wages, pension funds, literacy classes,
  and day care for their children. It’s a new life. Your custom helps us grow the business and continue bringing
  the dream of freedom to thousands of women.
  </p>
</div>

<%= render :partial => 'shared/twitter_column'%>
