<div id="banner-small">
  <img src="/images/banner-small.jpg" />
</div>

<div id="page-pics">
  <img src="/images/freeset-pic1.jpg" />
  <img src="/images/freeset-pic2.jpg" />
</div>

<div id="page-body">
  <% @active_item = 2 %>
  <%= render :partial => 'shared/page_menu_community'%>
  
  <h1>FREESET</h1>  
  <p>
  Freeset exists specifically to provide freedom for women from the sex
  trade, women who were forced into prostitution by trafficking or poverty.
  These women didn't choose their profession - it was chosen for them.
  </p>
  <p>
  Now, they're being offered a real choice. When they choose to work
  at Freeset, they can start new lives, regain dignity in their communities,
  and begin a journey towards healing and wholeness.
  </p>
  <p>
  All profits from Freeset in Kolkata benefit the women (salary, health
  insurance and retirement plan) and are used to grow the business.
  This means more women can be employed and experience freedom.
  </p>
  <p>
  The great thing is, when you buy a Freeset product, you directly
  participate in a woman's journey to freedom.
  </p>
</div>

<%= render :partial => 'shared/twitter_column'%>
