<div id="banner-small">
  <img src="/images/banner-small.jpg" />
</div>

<div id="page-pics">
  <img src="/images/our_story-pic1.jpg" />
  <img src="/images/our_story-pic2.jpg" />
</div>

<div id="page-body">
  <% @active_item = 1 %>
  <%= render :partial => 'shared/page_menu_community'%>
  
  <h1>OUR STORY</h1>  
  <p>
  Liminal Apparel is about providing fair trade organic T&#8209;shirts and bags for you to apply your own ideas to.
  When you purchase from Liminal Apparel, you can be confident our products are manufactured with the environment
  in mind and the people who made them are paid a fair wage. At Liminal Apparel we invest our profit back into the
  communities where they are produced. The money is used to help our growers and manufacturers develop their communities.
  It’s not the total answer to the huge issues of poverty but is part of the solution.
  Making the extra effort to know who made your product can go a long way.
  You are not just making the choice to wear fair trade organic, you are choosing to help people journey on a path to freedom.
  </p>

</div>

<%= render :partial => 'shared/twitter_column'%>
