<div id="banner-small">
  <img src="/images/banner-small.jpg" />
</div>

<div id="page-pics">
  <img src="/images/blank.png" />
  <%#img src="/images/press-pic1.jpg" />
  <img src="/images/press-pic2.jpg" /%>
</div>

<div id="page-body">
  <% @active_item = 5 %>
  <%= render :partial => 'shared/page_menu_community'%>
  
  <h1>PRESS</h1>  
  <p>
  See where everyone's talking about us...
  </p>

  <%# TBD make this open a separate page that shows the image, so the browser doesn't size it to fit the window. %>
  <a href="/images/Blue Caravan Sep 2011.png" target='_blank'>
  <img class="press" src="/images/Blue Caravan Sep 2011.png" />
  </a>

  <p></p>
</div>

<%= render :partial => 'shared/twitter_column'%>
