<div id="banner-small">
  <img src="/images/banner-small.jpg" />
</div>

<div id="page-pics">
  <img src="/images/custom_bags-pic1.jpg" />
  <%#img src="/images/custom_bags-pic2.jpg" /%>
</div>

<div id="page-body">
  <% @active_item = 2 %>
  <%= render :partial => 'shared/page_menu_wholesale'%>
  
  <h1>WHOLESALE</h1>  
  <p>Our aim is to provide 100% fair trade organic T&#8209;shirts and bags for people and companies to use
  as a blank canvas to apply their ideas to.</p>

  <h2>CUSTOM BAGS</h2>
  <p>
  We have a huge range of blank bags. If we don’t already stock what you want, tell us and we will do our best to
  make it happen.  We can take care of all your screen printing requirements.
  If you would like to know more <%= link_to "contact us", "/shop/contact" %> directly
  to talk to one of our team.</p>

  <p>
  <%= link_to "Download catalogue", "/docs/Freeset-Custom-Guide-2011-Liminal-Web.pdf", :target => '_blank' %>.
  </p>
</div>

<%= render :partial => 'shared/twitter_column'%>

