<div id="banner-small">
  <img src="/images/banner-small.jpg" />
</div>

<div id="page-pics">
  <img src="/images/re_selling_bags-pic1.jpg" />
  <img src="/images/re_selling_bags-pic2.jpg" />
</div>

<div id="page-body">
  <% @active_item = 3 %>
  <%= render :partial => 'shared/page_menu_wholesale'%>
  
  <h1>WHOLESALE</h1>  
  <p>
  Our aim is to provide 100% fair trade organic T&#8209;shirts and bags for New
  Zealand people and companies to use to apply their ideas to. If you are
  planning a run of T&#8209;shirts or bags for your event, conference, business or
  organisation, check us out.
  </p>
  <p>
  We are your one stop shop...
  </p>
  <h2>RE-SELLING BAGS</h2>
  <p>Are you a retailer looking for a new range with a point of difference?
  Check out our range here www.shop.co.nz or contact us directly to talk
  to one of our team.
  </p>
</div>

<%= render :partial => 'shared/twitter_column'%>
