<div id="banner-small">
  <img src="/images/banner-small.jpg" />
</div>

<div id="page-pics">
  <img src="/images/screen_printing-pic1.jpg" />
  <img src="/images/screen_printing-pic2.jpg" />
</div>

<div id="page-body">
  <% @active_item = 4 %>
  <%= render :partial => 'shared/page_menu_wholesale'%>
  
  <h1>WHOLESALE</h1>  
  <p>Our aim is to provide 100% fair trade organic T&#8209;shirts and bags for people and companies to use
  as a blank canvas to apply their ideas to.</p>

  <h2>SCREEN PRINTING</h2>
  <p>
  We can take care of screen printing for your T&#8209;shirt and bag purchases.
  <%= link_to "Contact us", "/shop/contact" %> to find out more about pricing and options.
  </p>
</div>

<%= render :partial => 'shared/twitter_column'%>
