<div id="banner-small">
  <img src="/images/banner-small.jpg" />
</div>

<div id="page-pics">
  <img src="/images/t-shirts-pic1.jpg" />
  <img src="/images/t-shirts-pic2.jpg" />
</div>

<div id="page-body">
  <% @active_item = 1 %>
  <%= render :partial => 'shared/page_menu_wholesale'%>
  
  <h1>WHOLESALE</h1>  
  <p>Our aim is to provide 100% fair trade organic T&#8209;shirts and bags for people and companies to use
  as a blank canvas to apply their ideas to.</p>

  <h2>T-SHIRTS</h2>
  <p>
  100% fair trade, organic, blank t-shirts ready for you to apply your ideas to.
  <%= link_to "Want samples?", "/" %>
  Our shop automatically adjusts to wholesale prices depending on your order quantity.
  Or <%= link_to "contact us", "/shop/contact" %> directly to talk to one of our team.
  Remember we can also take care of all your screen-printing requirements.
  </p>

</div>

<%= render :partial => 'shared/twitter_column'%>
