<div id="banner">
  <%= image_tag %w(Group_bbgw.jpg Group_bgbg.jpg Group_bwbw.jpg).shuffle.first %>
</div>

<div id="bottom-row">
  <span id="categories">
    <div class="category">
      <a href="/products/freeset-t-shirt?gender=Male">
      <img src="/images/mens(1)-nohover.jpg" />
      <div class="label">MENS</div>
    </div>
    <div class="category">
      <a href="/products/freeset-t-shirt?gender=Female">
        <img src="/images/womens-nohover.jpg" />
        <div class="label">WOMENS</div>
      </a>
    </div>
    <div class="category">
      <a href="#">
      <img src="/images/mens(2)-nohover.jpg" />
        <div class="label">BAGS</div>
      </a>
    </div>
  </span>
  
  <%= render :partial => 'shared/twitter_column'%>
</div>